@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-yellow-lig {
    background: linear-gradient(0deg, rgba(255, 182, 0, 0.5), rgba(255, 182, 0, 0.5)), #FFFFFF;
}

.owl-carousel {
    position: relative;

    .owl-nav {
        @media (max-width: 954px) {
            display: none;
        }

        .owl-prev,
        .owl-next {
            position: absolute;
            top: 45%;
            left: -7%;
            width: 50px;
            height: 50px;
            border-radius: 50px !important;
            background-color: #5856D6 !important;
            display: flex !important;
            justify-content: center;
            align-items: center;
        }

        .owl-next {
            left: unset;
            right: -7%;
        }
    }
}

.nextui-popover-content-container {
    background: rgba(0, 0, 0, 0.8) !important;
    border-radius: 0 !important;
    border-width: 0 !important;

    .nextui-dropdown-menu {
        padding-left: 0;
        padding-right: 0;

        .nextui-dropdown-item {
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
            height: 48px;
            background-color: transparent;

            a {
                background-color: unset;
                color: white;
            }

            &:hover,
            &:focus {
                background-color: #808080;
                border-radius: 0;
            }
        }
    }
}